<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <countdown :time="2000" />

      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script type="module">
      import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.esm.browser.js';
      import VueCoutndown from 'https://github.com/hebertsilva/vue-countdown/blob/master/dist/vue-countdown.min.js';

      Vue.component(VueCoutndown.name, VueCoutndown);
    </script>

  </body>

</html>