<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
</head>
<body>
  
  <div id="app">
    <countdown :time="20"/>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="vue-countdown.js"></script>

  <script async>
    window.onload = function () {
      Vue.component(VueCountdown.name, VueCountdown);

      new Vue({
        el: '#app',
        data: function () {
          var now = new Date();
          var newYear = new Date(now.getFullYear() + 1, 0, 1);

          return {
            counting: false,
            time: newYear - now,
          };
        },
        methods: {
          startCountdown: function () {
            this.counting = true;
          },
          handleCountdownEnd: function () {
            this.counting = false;
          },
        }
      });
    };
  </script>
</body>
</html>